body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #0E0E0E;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

button {
  /* all: unset; */
  color: #fff;
  background-color:#3B3B3B;
  font-size: 11pt;
  /* border: 1px solid var(--primary-color-lighter); */
  border: 0;
  border-radius: 5px;
  appearance: none;
  margin: 1px;
  outline: none;
}
button:active {
  background-color: hsl(0, 0%, 28%);
}

canvas {
  display: inline;
}

.main-container {
  display: inline;
}

input {
  background-color: #3B3B3B;
  color: #fff;
  font-size: 11pt;
  border: 0;
  border-radius: 5px;
  appearance: none;
  margin: 1px;
  outline: none;
}
#numboidsinput, #numpredatorsinput {
  width: 4em;
  text-align: center;
}